<section class="sign-up-btn-container">
  <div class="sign-up-section">
      <h1>効率よく宿題できたら、最高じゃん？</h1>
      <p>宿題管理、始めませんか？</p>
      <div class="cta-section-buttons">
        <%= link_to "今すぐ始める",
          new_user_session_path,
          class: "btn btn-lg btn-cta-primary rounded-pill fw-bold shadow" %>
      </div>
  </div>
</section>