.alert {
  padding: 18px 16px;
  border-radius: 8px;
  font-size: 16px;
  margin-top: 10px;
  z-index: 2100;
  margin-bottom: 0;

  &.alert-alert {
    background: #FEF2F2;
    border: 1px solid #FECACA;
    color: $danger;
  }

  &.alert-notice {
    background: #F0FDF4;
    border: 1px solid #BBF7D0;
    color: #11833b;
  }
}